.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-zoom {
  display: none;
}

#about-control {
  transform: translateX(calc(-100% + 1px));
}

#filter-control {
  transform: translateX(calc(100% - 1px));
}
