.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-zoom {
  display: none;
}

div.leaflet-div-icon {
  background: transparent;
  border: 0;
}

#about-control {
  transform: translateX(calc(-100% + 1px));
}

#filter-control {
  transform: translateX(calc(100% - 1px));
}

#about-layer,
#filter-layer,
#marker-details-layer {
  height: calc(100vh - 40px);
}
